.form-scan {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 10px !important;
}

.form-inline {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#camera {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

#result-div {
    border: 1px solid red;
    padding: 20px;
    float: none;
    margin: 0 auto;
    text-align: center;
    height: auto;
    display: none;
}

#scan-result {
    float: none;
    margin: 0 auto;
    display: none;
}

#online {
    color: red;
    background-color: #CECEF6;
}

#offline {
    color: darkgray;
    background-color: dimgray;
}

#batch-submit {
    visibility: hidden;
    background-color: #BCA9F5;
    width: 100%;
    height: 40px;
    color: yellow;
    font-weight: 500;
    font-size: 15px;
}

#batch-submit-result {
    visibility: hidden;
    background-color: #9FF781;
    width: 94%;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    margin-left: 15px;
}

#body-asset {
    text-align: center;
}

#body-asset thead th {
    text-align: center;
}

#container-mode {
    padding-right: 0;
}

.box-body {
    /* display: none; */
}

#div-table-asset {
    display: none;
}

#qrimg {
    color: red;
    background-color: #CECEF6;
}

#webcamimg {
    color: darkgray;
    background-color: dimgray;
}

#outdiv {
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
    display: none;
}

#result {
    border: solid;
    border-width: 1px 1px 1px 1px;
    padding: 20px;
    width: 100%;
}

#imghelp {
    position: relative;
    left: 0px;
    top: -200px;
    z-index: 100;
    font: 18px arial, sans-serif;
    background: #f0f0f0;
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    width: 100%;
}

#v {
    width: 100%;
}

#qr-canvas {
    display: none;
}

#qrfile {
    width: 320px;
    height: 240px;
    margin: auto;
}

.alert-message {
    display: none;
}

.alert-msg-warning {
    color: green;
}

.alert-msg-warning::before {
    content: "WARNING! ";
}

.alert-msg-error {
    color: red;
}

.alert-msg-error::before {
    content: "ERROR! ";
}

#alert-page {
    float: none;
    margin: 0 auto;
    display: none;
}

/* Smartphones ----------- */
@media only screen and (max-width: 760px) {
    .navbar-static-top {
        display: none;
    }

    .content-header {
        padding-top: 50px !important;
    }
}
